body {
  /*background-image: url('assets/images/homepagebg.jpg')*/
  background-color: #f9fff8;
}

.topbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100px;
  background-color: rgb(46, 184, 121);

  color:#ecfff7;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  
}

#container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly; /* speratet the items with same distance */
  max-width: 800px;
  height:100%;
  height:100vh;
  align-items:center; /* put all the items' center in the same line */
  align-content:space-evenly;
}

.gif {
  width:100px;
  
}

.item {
  width:100px;
}

#punchline{
  color:rgb(177, 218, 255);
  font-size:48px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 20px ;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: 3%;

  flex-direction: column;
  width: 400px;
  height: 80px;
  background-color: #ffffff;
  

  
}

input{
  
  width: 330px;
  padding: 20px;
  size: 25px;
  border-radius: 100px;
}

/*button*/
.btn{
  background-color:rgb(64, 195, 151);
  width:150px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  color:#f9fff8;
  text-decoration: none;
  font-size: 120%;
}

/*choose item*/
.itemBtn{
  background-color:rgb(197, 255, 236);
  width:300px;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px;
  border: solid;
  border-color: #87c59f;

  color:#3b5038;
  text-decoration: none;
  font-size: 120%;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  top:50%;
  left:40%;
  color:rgb(74, 114, 86);
  margin-top: 5%;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  top:50%;
  left:40%;
  color:rgb(84, 87, 89);
  font-weight:200;
  font-size: 24px;
}

#mybutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:50px;
  
}
