
body {
  font-family: Times New Roman, serif;
  background-color: rgb(212, 255, 252);
  background-image: url('assets/images/homepagebg.jpg'); /* backgroundi image */
}

table {
  width:100%; 
}

.left {
  width:25%;
  background-color:aliceblue
}

.right {
  width:80%;
  background-color:antiquewhite
}

h1 {
  color:rgb(69, 110, 125);
  text-align:center;
  font-size:32px;
  font-style:italic;
}

hr {
  color:rgb(211, 255, 255)
}

h2 {
  text-align:center;
}

p {
  color:rgb(36, 59, 122);
  font-size:16px;
}

a:link {
  color:rgb(79, 173, 255);
}

a:hover { /*change the color when hover above the link*/
  color:aqua;
}

a:active {
  color:brown
}

marquee {
  color:rgb(110, 229, 223);
  font-size:64px;
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
}

#danny {
  width:600px;
  margin-left:auto;
  margin-right:auto;
  display:block; /*centering the element*/
  margin-top:20px;
  margin-bottom:20px;
}

#Monday {
  font-size:20px;
}

/* css for centering an image: */
#splash{
  display:block;
  width:600px;
  margin-left:auto;
  margin-right:auto;
}

