body {
  /*background-image: url('assets/images/homepagebg.jpg')*/
  background-color: #f9fff8;
}

.topbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 100px;
  background-color: rgb(46, 184, 121);

  color:#ecfff7;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  
}



#container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly; /* speratet the items with same distance */
  height:100%;
  height:100vh;
  align-items:center; /* put all the items' center in the same line */
  align-content:space-evenly;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 20px ;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px;
  border: solid;
  border-color: #dbdbdb;

  flex-direction: column;
  width: 300px;
  height: 100px;
  background-color: #ffffff;
  
  font-size: large
  ;
  

  
}

input{
  margin-top: 5%;
  width: 70%;
  padding: 10px;
  size: 24px;
  border-radius: 100px;
  color:#dbdbdb
}

/*button*/
.btn{
  background-color:rgb(64, 195, 151);
  width:150px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  color:#f9fff8;
  text-decoration: none;
  font-size: 120%;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  top:50%;
  left:40%;
  color:rgb(74, 114, 86);
  margin-top: 5%;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  top:50%;
  left:40%;
  color:rgb(84, 87, 89);
  font-weight:200;
  font-size: 24px;
}

#mybutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:50px;
  
}
