body {
  background-image: url('assets/images/creature.jpg')
}

#container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly; /* speratet the items with same distance */
  height:100%;
  height:100vh;
  align-items:center; /* put all the items' center in the same line */
  align-content:space-evenly;
}

.gif {
  width:100px;
  
}

.item {
  width:100px;
}

#punchline{
  color:rgb(177, 218, 255);
  font-size:48px;
}

h1 {
  position:absolute;
  top:50%;
  left:40%;
  color:aliceblue
}

button[itemInput]{
  
}

#mybutton {
  height:50px;
  
}

/*
h1 {
  margin-left: auto;
  margin-right:auto;
  width:200px;
  text-align:center;
  display:block;
  color:aliceblue;
  position:absolute;

}
*/